repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-docstring-first
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: name-tests-test
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.5.0
    hooks:
    -   id: setup-cfg-fmt
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma
        args: [--py36-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/lorenzwalthert/gitignore-tidy
    rev: 86641946ac497f5e4d688c8ddcc6aa270cdbe59c
    hooks:
    -   id: tidy-gitignore
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v3.20.0
    hooks:
    - id: commitizen
      stages: [ commit-msg ]
-   repo: local
    hooks:
    - id: pyright
      name: pyright
      entry: poetry run pyright gitignore_tidy/**/*.py
      language: system
      pass_filenames: false
      types: [file, python]




ci:
    autoupdate_schedule: quarterly

default_install_hook_types:
  - commit-msg
  - pre-commit
